<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

    <div class="hero-image">
      <%- include('layout'); -%>
      <div class="hero-text">
        <h1>Classic Blog</h1>
        <p>“We write to taste life twice, in the moment and in retrospect.” ― Anais Nin</p>
      </div>
    </div>
    <%# <div style="width:100%; height:50%;"></div>%>
    <div class="container">
      <% posts.forEach(function(post) { %>
        <div class="row post-box">
          <div class="col-md-10 col-md-offset-2">
            <img src="/public/images/post_img.jpg">
            <a href="/post/<%= post.post_id%>" style="text-decoration:none;"><h1 class="title title-link"><%= post.title %></h1></a>
            <span style="text-align: right;"><h3>Author: <%= post.user.name %></h3></span>
            <br />
            <p><%= post.post %></p>
            <br />
            <a href="/post/<%= post.post_id%>" style="text-decoration:none; color: #624f9c;">Read more <i class="fas fa-angle-double-right"></i></a>
            <br />
            <br />
            <hr />
          </div>
        </div>
      <% })%>
    </div>
    <footer>
     <%- include('footer') -%>
   </footer>
  </body>
</html>
