<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <%- include('layout'); -%>
    <div class="hero-image">
    </div>
    <div class="container">
      <span class=""><h1>Posts</h1></span>
      <% posts.forEach(function(post) { %>
        <div class="row post-box">
          <div class="col-md-10 col-md-offset-2">
            <img src="/public/images/post_img.jpg">
            <a href="/post/<%= post.post_id%>" style="text-decoration:none;"><h1 class="title title-link"><%= post.title %></h1></a>
            <h3>By <%= post.user.name %></h3>
            <br />
            <p><%= post.post %></p>
          </div>
        </div>
      <% })%>
    </div>
  </body>
</html>
